// Place all the styles related to the api/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-index-container {
  margin: 30px;
}

.cart-item-container {
  display: flex;
}

.cart-items {
  margin: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.cart-index-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 5px;
  /* align-items: center; */
  width: 25%;
}
.cart-index-image {
  width: 200px;
  height: 175px;
}

.cart-link {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.cart-price-total {
  font-weight: bold;
}