// Place all the styles related to the api/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-index-image {
  width: 10%;
  height: 100%;
}

.cart-link {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}