// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-input {
  box-shadow: 0 1px 4px 0 rgb(34, 34, 34) inset;
  border-color: rgba(255, 255, 255, 0.774);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 30px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 90%;
  min-width: 0;
}

.form {
  height: 100%;
  width: 100%;
}

.form-header {
  font-size: 20px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-input:hover {
  border-color: rgba(34, 34, 34, 0.5);
}

.form-input:focus {
  border-color: rgba(34, 34, 34, 0.5);
}

.form-label {
  font: bold;
}

.form-submit-button {
  min-width: 0;
  width: 100%;
  margin: 5px;
}

.form-submit-button:hover {
  opacity: 0.8;
  transform: scale(1.06, 1.05);
}

.session-modal {
  width: 100%;
}

.modal-form-button {
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  border-radius: 24px;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right;
}

.modal-form-button:hover {
  transform: scale(1.06, 1.05);
}

.exit-modal {
  position: absolute;
  top: 0%;
  right: -20%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transform: scale(1.5, 1.5);
}
