// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-buttons {
  display: flex;
}

.header-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 0.8rem;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}

.header-button:hover {
  background-color: rgba(236, 236, 236, 0.795);
}

.cart-link {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-child {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 6px 36px #22223b;
  width: 350px;
}

.form-submit-button {
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  color: white;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.form-input {
  box-shadow: 0 1px 4px 0 rgb(34, 34, 34) inset;
  border-color: rgba(255, 255, 255, 0.774);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 30px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 90%;
  min-width: 0;
}

.form {
  height: 100%;
  width: 100%;
}

.form-header {
  font-size: 20px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-input:hover {
  border-color: rgba(34, 34, 34, 0.5);
}

.form-input:focus {
  border-color: rgba(34, 34, 34, 0.5);
}

.form-label {
  font: bold;
}

.form-submit-button {
  min-width: 0;
  width: 100%;
  margin: 5px;
}

.form-submit-button:hover {
  opacity: 0.9;
  transform: scale(1.02, 1);
}

.session-modal {
  width: 100%;
}

.modal-form-button {
  border: 1px #222222 solid;
  border-radius: 24px;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding: 9px 15px;
  cursor: pointer;
  float: right;
  transition: all 0.2s;
}

.modal-form-button:hover {
  border-width: 2px;
  transition: all 0.2s;
}

.exit-modal {
  position: absolute;
  top: 0%;
  right: -10%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

.session-errors {
  color: red;
  padding: 5px;
  margin: 0;
}
