// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-form-container {
  width: 64%;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  display: flex;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-height: 250px;
}

.cancel-btn {
  margin-left: -100px;
}

.review-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.create-form {
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  max-height: 50px;
  max-width: 150px;
  padding: 12px 18px;
  margin: 15px 0;
  color: white;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  width: 100%;
}

.close-form {
  border-radius: 24px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  max-width: 100px;
  padding: 10px;
  color: white;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  width: 100%;
}

.form-rating {
  font-size: 1.25rem;
}

.form-description {
  font-size: 1.25rem;
}

.form-textarea {
  height: 100px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  font-size: 15px;
  margin-top: 10px;
}

.form-add-review {
  display: block;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 10px 5px;
  height: 40px;
  width: 100px;
  border-radius: 25px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.form-add-review:hover {
  opacity: 0.9;
  transform: scale(1.02, 1);
}

.close-form:hover {
  opacity: 0.9;
  transform: scale(1.02, 1);
}

.create-form:hover {
  opacity: 0.9;
  transform: scale(1.02, 1);
}

// review show

.review-product-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.review-index {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 15px 10px;
}

.review-show-container {
  margin-bottom: 30px;
  list-style: none;
}

.delete-review,
.edit-review,
.update-review,
.exit-update {
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin: 3px;
}

.delete-review:hover,
.edit-review:hover,
.update-review:hover,
.exit-update:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.03);
}

.review-edit-container {
  display: flex;
  flex-direction: column;
}

.review-update-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  width: 300px;
  padding: 5px;
  font-size: 15px;
  margin: 10px 0;
}

.review-edit-header {
  font-weight: 500;
  font-size: 1.2rem;
}
