/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
}

.header-name {
  display: flex;
  justify-content: center;
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  line-height: 56px;
  font-size: 52px;
}

.login-modal {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}

.login-modal:hover {
  background-color: rgba(236, 236, 236, 0.795);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 6px 36px #22223b;
  width: 350px;
}

.exit-modal {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.form-header {
  font-size: 20px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-submit-button {
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  color: white;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.modal-form-button {
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  border-radius: 24px;
  background-color: #ffffff;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
