/* home page */

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-link {
  display: flex;
  text-decoration: none;
  margin: 0;
  width: 100px;
}

@font-face {
  font-family: 'Guardian-EgypTT';
  src: url(https://www.etsy.com/assets/type/Guardian-EgypTT-Light.woff?v=2) format('truetype');
}

.logo {
  color: rgb(241, 100, 30);
  padding: 5px, 10px;
  width: 100px;
  margin: 0;
}

.home-msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-msg {
  display: flex;
  justify-content: center;
  font-weight: 300;
  line-height: 56px;
  font-size: 52px;
  font-family: 'Guardian-EgypTT';
  padding-top: 2%;
  height: 200px;
  background-color: rgb(253, 235, 210);
  width: 100%;
}

.home-item-container {
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
  padding-top: 20px;
  margin-top: -4%;
}

.home-header-item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.home-header-item > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.home-header-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.home-text {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 75%;
  margin-top: 20px;
  font-size: 1.2rem;
}

.home-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px 0px;
}

.home-index-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-index-price {
  background-color: white;
  color: inherit;
  border: 1px solid rgba(34, 34, 34, 0.15) !important;
  border-radius: 15px;
  font-size: 1rem;
  padding: 6px 9px;
  min-width: 0;
  width: 30%;
  text-align: center;
}

.home-index-name {
  margin: 10px;
}

.home-index-image {
  width: 250px;
  height: 250px;
  margin: 0 10px;
  border-radius: 7px;
  /* box-shadow: 0px 2px 2px 0px rgba(0 0 0 / 30%); */
}

.home-index-image:hover {
  box-shadow: 0 0 8px 2px rgba(209, 208, 208, 0.795);
}

.home-our-picks {
  display: flex;
  width: 75vw;
}

.home-product-mid {
  border: 1px solid lightgray;
  /* box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px; */
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.home-mid-img {
  height: 200px;
  width: 200px;
  border-radius: 7px;
  object-fit: cover;
}

.home-product-side {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 70%;
  flex-direction: column;
}

.home-product-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
  min-height: 200px;
  align-items: center;
}

.mid-img {
  width: 50%;
  display: flex;
  justify-content: space-around;
  }

.home-text-mid {
  font-size: 1.2rem;
  padding-left: 20px;
}

.editor-pick {
  font-size: 1rem;
  padding-bottom: 15px;
}

.home-product-bot {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
  min-height: 200px;
}

.home-mid-main{
  width: 30%;
  display: flex;
}

.home-pics-main {
  height: auto;
  width: 100%;
}

.home-explore {
  display: flex;
}
